<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Growbiz Email Reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> Dear <p th:text="#{name}">,
<!--    Hello, Peter Static!-->
</p>
<p>
    We would like to confirm your upcoming service appointment with <p th:text="#{service}"></p> at <p th:text="#{business}"></p>.
    We appreciate your trust in us and look forward to providing you with top-notch service.
</p>
<p>Here are the details of your appointment:</p>
<ul>
    <li th:text="#{service}"></li>
    <li th:text="#{date}"></li>
    <li th:text="#{time}"></li>
    <li></li>
</ul>
<p>
    Our team at  <p th:text="#{business}"></p>. is committed to ensuring that your experience with us is seamless and satisfactory. If you have any questions or need to make any adjustments to your appointment, please don't hesitate to reach out to us.
</p>
<p>
    Thank you once again for choosing <p th:text="#{business}"></p>. We value your business and are dedicated to exceeding your expectations.
</p>
<p>
    Regards, <br />
    <em> Michael Scott </em>
    <em th:text="#{business}"></em>
</p>
</body>
</html>






